# Docker Compose and Volumes
docker_compose/**
volumes/**

# Docker config should not be tracked
docker-config.yml

# IDE and Editor Files
.vscode/
.idea/

# Temporary and Log Files
logs/
tmp/
*.log
*.json
*.tar
*.gz

# Compiled Python Files
*.pyc
